.p-toast {
    background-color: transparent;
    border: none;
}

/* Estilo base de todos los toast */
.p-toast-message {
  background: linear-gradient(135deg, #4c1d95, #312e81) !important; /* degradado morado */
  color: #ffffff !important; /* texto blanco */
  border: none !important;
  border-radius: 12px !important;
  padding: 1rem !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
}

/* Cambiar el color del título dentro del toast */
.p-toast-message .p-toast-summary {
  font-weight: bold;
  font-size: 1.1rem;
  color: #f9fafb !important;
}

/* Texto */
.p-toast-message .p-toast-detail {
  color: #e0e0e0 !important;
}

/* Botón de cerrar */
.p-toast-icon-close {
  color: #ddd !important;
}
